*, *::before, *::after {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow: hidden;
}

.overflow_visible {
    overflow-y: auto;
}

body {
    background-color: #161623;
    color: white;
    height: 100vh;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    height: 100vh;
    width: 90vw;
}

main>section {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100vw;
}

main>section.infaden {
    display: block;
    animation-name: infaden;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes infaden {
    from {
        top: -200vh;
    }
    to {
        top: 0;
    }
}

h1 {
    font-size: 70px;
}

.scan_button {
    display: flex;
    align-items: center;
    background-color: #8D8DE0;
    color: white;





    font-size: 1.3em;
    border: 2px solid white;
    border-radius: 0.8em;
    margin: 5vh auto;
    padding: 0.35em 0.55em;
}

.scan_button img {
    width: 2em;
    margin-right: 0.3em;
}

#start_scan {
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 1em;
    margin: 10vh auto 0;
    padding: 0.65em 0.75em;
}

nav {
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8D8DE0;
    border-bottom: 3px solid white;
}

#close_button {
    position: absolute;
    right: 5vw;
    background: none;
    border: none;
    font-size: 3em;
    z-index: 1;
}

#close_button::after {
    content: "\00d7";
    color: white;
}

video {
    display: block;
    height: calc(92.5vh - 3px);
}

.hidden {
    display: none;
}

#loader {
    position: absolute;
    left: 45vw;
    top: calc(50vh - 5vw);
    border: 0.5em solid white;
    border-top: 0.5em solid #8D8DE0;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

article {
    width: 90vw;
    height: fit-content;
    margin: 7.5vh auto;
}

article>img {
    width: 90vw;
}

article ul {
    text-align: left;
}