*, *::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    background-color: #161623;
    color: white;
    height: 100vh;
    position: relative;
    z-index: -1;
}

header, main {
    height: 100vh;
    margin: auto;
    text-align: center;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
}

main {
    display: none;
    position: absolute;
    top: -100vh;
    z-index: -1;
    width: 100vw;
}

main.infaden {
    display: block;
    animation-name: infaden;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes infaden {
    from {
        top: -100vh;
    }
    to {
        top: 0;
    }
}

h1 {
    font-size: 70px;
}

#start_scan {
    display: flex;
    align-items: center;
    padding: 0.65em 0.75em;
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 1em;
    background-color: #8D8DE0;
    color: white;
    margin: 10vh auto 0;
}

#start_scan img {
    width: 2em;
    margin-right: 0.3em;
}

section {
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8D8DE0;
    border-bottom: 3px solid white;
}

#close_button {
    position: absolute;
    right: 5vw;
    background: none;
    border: none;
    font-size: 3em;
    z-index: 1;
}

#close_button::after {
    content: "\00d7";
    color: white;
}

video {
    display: block;
    height: calc(92.5vh - 3px);
}

.hidden {
    display: none;
}