body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e3de;
    color: white;
    height: 100vh;
    width: 100vw;
}

body>img {
    position: absolute;
    left: 13vw;
    bottom: 3vw;
    height: 25vw;
}

main {
    width: 12cm;
    height: 7cm;
    perspective: 30em;
}

main:hover #omdraai {
    transform: rotateY(180deg);
}

#omdraai {
    width:100%;
    height:100%;
    position:relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #006864;
}

header>img {
    width: 2cm;
    height: 2cm;
    object-fit: cover;
    border: solid 0.5px black;
    border-radius: 5vw;
    margin: 0 auto;
}

header h1 {
    font-size: 1.4em;
    margin-bottom: 0;
}
header h1 span {
    font-weight: 100;
}

header p {
    font-size: 0.6em;
    font-style: italic;
}

/* Achterkant visitekaartje */
section {
    background: linear-gradient(0deg, rgba(0,104,100,1) 50%, rgba(255,255,255,1) 50%);
    transform: rotateY(180deg);
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

section h3 {
    position: absolute;
    font-size: 1.3em;
    top: 5%;
    left: 48.5%;
    color: #006864;
}

section a {
    color: #006864;
}

section div {
    display: flex;
    padding: 1.5em 10%;
}

#grafiek {
    width: 70%;
}

#links {
    height: calc(3cm - 1.5em);
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-evenly;
}

#contact {
    display: grid;
    grid-template-columns: repeat(2, 67%);
    margin: 0;
    padding: 0.5em 10% 0;
}

#contact p {
    display: flex;
}

#contact p img {
    padding-right: 0.6em;
    height: 1.2em;
}