@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #033a2b;
    height: 100vh;
    width: 100vw;
}

body>img {
    position: absolute;
    left: 13vw;
    bottom: 3vw;
    height: 25vw;
}

main {
    display: flex;
    width: 12cm;
    height: 7cm;
    border: solid 1px lightslategray;
    border-radius: 1vw;
    background: linear-gradient(90deg, rgba(201,201,77,1) 0%, rgba(231,231,169,1) 60%);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0.8em 1em 0.5em;
}

header>img {
    width: 2cm;
    height: 2cm;
    object-fit: cover;
    border: solid 0.5px black;
    border-radius: 5vw;
    margin: 0 auto;
}

header h1 {
    font-size: 1em;
    margin-bottom: 0;
}

header p {
    display: flex;
    font-size: 0.6em;
    margin-bottom: 0.3em;
}

p img {
    padding-right: 0.4em;
    height: 13px;
}

section {
    padding-left: 2em;
    font-size: 0.6em;
    max-width: 7cm;
}

section h4 {
    margin-bottom: 0;
}

section a {
    color: black;
}

/* section p {
    margin: 0.5em 0 1.5em 0;
}

section svg {
    height: 165px;
    width: 248.45px;
} */